@keyframes fadeUp {
  0% {
    opacity: 0%;
    margin-top: calc(10% + 50px);
  }
  100% {
    opacity: 100%;
    margin-top: 10%;
  }
}
@keyframes fadeLeft {
  0% {
    opacity: 0%;
    right: -30%;
  }
  100% {
    opacity: 100%;
    right: 0;
  }
}
html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  color: #31363c;
  background-image: url("/img/landing_page_BG.webp");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
#root #landingPage {
  position: relative;
  height: 100vh;
  padding: 30px 40px;
}
#root #landingPage .logoContainer {
  height: 40px;
}
#root #landingPage .logoContainer img {
  height: 100%;
}
#root #landingPage #landingPage-col-1 {
  width: 70%;
}
#root #landingPage #landingPage-col-1 .content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  animation: fadeUp 700ms 300ms forwards;
  margin-top: 10%;
  opacity: 0;
}
#root #landingPage #landingPage-col-1 .content > div:first-child {
  padding-left: 50px;
}
#root #landingPage #landingPage-col-1 .content > div:first-child h1 {
  margin-bottom: 0;
  font-size: 54px;
  color: #20876f;
}
#root #landingPage #landingPage-col-1 .content > div:first-child h3 {
  margin-top: 12px;
  font-size: 27px;
  color: #186553;
}
#root #landingPage #landingPage-col-1 .content > div:nth-child(2) {
  width: 50%;
}
#root #landingPage #landingPage-col-1 .content > div:nth-child(2) img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
#root #landingPage #landingPage-col-2 {
  animation: fadeLeft 700ms 300ms forwards;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  padding: 0 60px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}
#root #landingPage #landingPage-col-2 .content {
  margin-top: calc(20% + 120px);
  max-width: 100%;
}
#root #landingPage #landingPage-col-2 .content h2 {
  font-size: 48px;
  color: #682c5d;
  margin-bottom: 0;
}
#root #landingPage #landingPage-col-2 .content p {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 500;
  text-wrap: wrap;
}
#root #landingPage #landingPage-col-2 .content .roundedBtn {
  border: none;
  padding: 16px;
  background-color: #29a98b;
  font-size: 16px;
  color: white;
  border-radius: 50px;
  transition: background-color 200ms ease-in-out;
  margin-top: 30px;
}
#root #landingPage #landingPage-col-2 .content .roundedBtn:hover {
  background-color: #269d81;
  cursor: pointer;
}
#root #landingPage #landingPage-col-2 .content .roundedBtn:active {
  background-color: #1e8d73;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1479px) {
  #root #landingPage #landingPage-col-1 .content {
    flex-direction: column;
  }
  #root #landingPage #landingPage-col-1 .content > div:nth-child(2) {
    margin: 0 100px 0 auto;
  }
  #root #landingPage #landingPage-col-1 .content > div:nth-child(2) img {
    width: unset;
    max-width: 350px;
  }
  #root #landingPage #landingPage-col-2 .content {
    margin-top: calc(20% + 120px);
  }
  #root #landingPage #landingPage-col-2 .content h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1023px) {
  #root #landingPage {
    padding: 20px 20px;
  }
  #root #landingPage #landingPage-col-1 {
    width: 70%;
    text-align: center;
  }
  #root #landingPage #landingPage-col-1 .content {
    flex-direction: column;
  }
  #root #landingPage #landingPage-col-1 .content > div:first-child {
    padding-left: unset;
  }
  #root #landingPage #landingPage-col-1 .content > div:nth-child(2) {
    width: unset;
    margin: 0 auto;
  }
  #root #landingPage #landingPage-col-2 {
    padding: 0 30px;
    text-align: center;
  }
  #root #landingPage #landingPage-col-2 .content {
    margin-top: calc(17% + 100px);
  }
}
@media only screen and (max-width: 767px) {
  #root #landingPage {
    display: flex;
    flex-direction: column;
    height: unset;
    padding: unset;
  }
  #root #landingPage #landingPage-col-1 {
    width: 100%;
    padding: 20px;
  }
  #root #landingPage #landingPage-col-1 .content > div:nth-child(2) img {
    width: 100%;
  }
  #root #landingPage #landingPage-col-2 {
    position: relative;
    left: 0;
    width: 100%;
    height: unset;
    padding: 0 20px;
  }
  #root #landingPage #landingPage-col-2 .content {
    margin: 100px 0 50px;
  }
}
@media only screen and (max-width: 479px) {
  #root #landingPage .logoContainer {
    height: 25px;
  }
  #root #landingPage #landingPage-col-1 .content > div:first-child h1 {
    font-size: 42px;
  }
  #root #landingPage #landingPage-col-1 .content > div:first-child h3 {
    font-size: 22px;
  }
  #root #landingPage #landingPage-col-2 {
    position: relative;
    left: 0;
    width: 100%;
    padding: 0 20px;
  }
  #root #landingPage #landingPage-col-2 .content {
    margin: 100px 0 50px;
  }
  #root #landingPage #landingPage-col-2 .content h2 {
    font-size: 30px;
  }
  #root #landingPage #landingPage-col-2 .content p {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */